@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

    .text-shadow-1 {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.32)
    }

    .text-shadow, .text-shadow-2 {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45)
    }

    .text-shadow-3 {
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.55)
    }


    .w-128 {
        width: 32rem;
    }


    .hover-zoom {
        overflow: hidden;
        transition-duration: 0.3s;
        transition-property: transform;
    }

    .hover-zoom:hover {
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
    }


    .color-1 {
        color: #8B0202;
    }
}


@layer components {

    article {
        @apply 
        bg-gray-100 
        hover:bg-orange-100 

        border-2 
        rounded-md 
        border-orange-500
        hover:border-gray-900

        sm:hover:hover-zoom

        p-1 
        m-2
        mr-5
        ml-5 
        sm:p-2
        sm:m-3

        text-gray-900 
        shadow-sm 
        hover:shadow-xl 

        cursor-pointer
    }
    article > h3 {
        @apply 
        text-orange-600 
        text-center 
        font-bold
        text-base 
        sm:text-lg 
        md:text-xl
    }
    article > p {
        @apply 
        text-center 
        text-sm 
        sm:text-base
        md:text-xl
    }
    

    .question_container {
        @apply 
        sm:w-128 
        sm:ml-auto 
        sm:mr-auto 
        sm:mt-5 
        m-1 
        p-1 
        rounded-lg 
        border-2 
        shadow-xl
        shadow-gray-500
        border-orange-400 
        bg-gray-300 bg-gradient-to-b 
        from-gray-400 
        to-gray-100
    }


    #universal_container{
        @apply
        overflow-auto
        sm:w-128 
        sm:ml-auto 
        sm:mr-auto 
        sm:mt-5 
        m-1
        p-3 
        text-gray-800
        border-2 
        rounded-lg 
        border-orange-400 
        shadow-xl
        shadow-gray-500
        bg-gray-300 bg-gradient-to-b 
        from-gray-400 
        to-gray-100
    }

}
